@model BookWithManyAuthors

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.Id" />
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <input asp-for="Book.Description" class="form-control" />
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Quantity" class="control-label"></label>
                <input asp-for="Book.Quantity" class="form-control" />
                <span asp-validation-for="Book.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                @for (var i = 0; i < Model.Authors.Count; i++)
                {
                    <div>
                        <input type="checkbox" id="Authors[@i]" name="SelectedAuthorIds" value="@Model.Authors[i].Id"
                        @(Model.SelectedAuthorIds != null && Model.SelectedAuthorIds.Contains(Model.Authors[i].Id.ToString()) ? "checked" : "")>
                        <label for="Authors[@i]">@Model.Authors[i].FirstName @Model.Authors[i].LastName</label>
                    </div>
                }
            </div>

            <hr />

            <div class="form-group">
                @foreach (var item in Model.AuthorsOfTheBook)
                {
                    <p>@item.FirstName @item.LastName</p>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

